@import "src/styles/templates";

body {
  // Paddings
  --p-level-1: 2.8rem; // 56px
  --p-level-2: 1.6rem; // 32px
  --p-level-3: 1.2rem; // 24px
  --p-level-4:  .8rem; // 16px
  --p-level-5:  .4rem; //  8px

  @include endAt($tabletBreakpoint) {
    --p-level-1: 1.6rem; // 32px
    --p-level-2: 1.2rem; // 24px
    --p-level-3:  .8rem; // 16px
    --p-level-4:  .4rem; //  8px
    --p-level-5:  .4rem; //  8px
  }

  --p1: 1.2rem; // 24px
  --p2:   1rem; // 20px
  --p3:  .8rem; // 16px
  --p4:  .7rem; // 14px
}
