@import "src/styles/templates";

a.navItem {
  @include paddingHorizontal(var(--p-level-5));
  @include paddingVertical(calc(var(--p-level-5) * .5));
  @include p14;

  @apply flex flex-col items-center;

  gap: calc(var(--p-level-5) * .5);
}

nav.topNavbar {
  @apply flex;

  gap: inherit;

  ul {
    @apply flex items-center;

    gap: inherit;
  }
}
